body{
   margin: 0;
  padding:0;
  box-sizing: border-box;
}


.phone-container{
   display: none;
}




/* the cookie prompt  */

#cookies{
   display: none;
}

.cookies{
   margin-left: 800px;
   margin-top: 400px;
   background-color: #fff;
   border: 1px solid black;
   position: absolute;
   padding: 20px;
   box-shadow: 50px 50px 120px 20px #9ea0a4;
}
.cookies h2{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 25px;
   margin-left: 110px;
}
.cookies p{
   font-family: 'Noto Sans Display', sans-serif;
   color: #5f6368;
}
.cookietwo a{
   text-decoration: none;
   font-size: 18px;
   color: #1a73e8;
}
.cookiebuttons{
   display: flex;
   margin-left: 60px;
}
.cookieaccept{
   margin-right: 50px;
}
.cookiesb{
   height:50px;
   width:120px ;
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 19px;
   color: #fff;
   background-color: #1a73e8;
   border-radius: 20px ;
   border: 1px solid #1a73e8;
   margin-bottom: 15px;
   margin-top: 15px;
}













/* the navbar element  */

.navbar{
   display: flex;
   padding-top: 10px;
   justify-content:space-between;
   box-shadow: 0px 2px 20px 0px rgba(94, 98, 101, 0.2);
   position:sticky;
   top: 0px;
   background-color: #fff;
}
.googlelogo{
   margin-left: 15px;
   margin-top: 4px;
}
.leftnavbar{
   display: flex;
}
.leftnavbar h2{
   font-family: 'Noto Sans Display', sans-serif;
   margin-right: 30px;
   margin-left: 30px;
   margin-top: 7px;
   color: #5f6368;
   font-size: 22px;
   font-weight: 400;
}
.leftnavbar p{
   color: #5e6267;
   font-family: 'Noto Sans Display', sans-serif;
   margin-right: 30px;
   font-size: 13px;
}
.navbartwo{
   text-decoration: underline;
   text-decoration-color:#1a73e8;
   text-decoration-thickness: 2px;
   text-underline-offset:22px ;
}
.navbarthree:hover .afterhover{
   display:inline;
}
.afterhover{
   display: none;
   position: absolute;
   overflow: auto;
   box-shadow: 0px 2px 20px 0px rgba(94, 98, 101, 0.2);
   text-align: center;
   margin-top: 6px;
   background-color: #fff;
}
.afterhover div{
   margin-bottom: 10px;
   padding-left: 40px;
   padding-right: 15px;
}
.uparrow{
   display:none;
}
.navbarthree:hover .uparrow{
   display: inline;
}
.navbarthree:hover .downarrow{
   display: none;
}

.rightnavbar{
   margin-right: 10px;
}

.rightnavbar{
   display: flex;
}
.forhover{
   margin-left: 10px;
}

.navbarsix p{
   font-family: 'Noto Sans Display', sans-serif;
   color: #1a73e8;
   margin-right: 15px;
   cursor: pointer;
}




/* The first square element  */

.one{
   margin-top: 100px;
}
.oneone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}
.standout{
    margin-top: 105px;
    margin-right: 660px;
}
#oneonepic{
    height: 580px;
    margin-top: 45px;
    box-shadow: 0px 10px 70px 10px #dadce0;
    border-radius: 25px;
   
}
.standout h2{
font-family: 'Noto Sans Display', sans-serif;
 font-weight: 400;
 font-size: 46px;
 color: #202124;
}
.standout p{
    color: #5e6267;
    font-family: 'Noto Sans Display', sans-serif;
    margin-bottom: 40px;
}
.buttonmanage{
    height: 50px ;
    width: 160px ;
    background-color: #1a73e8 ;
    color:#fff ;
    font-weight:500;
    border: solid 1px #1a73e8 ;
    border-radius: 6px;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
}
.buttonmanage:hover{
   background-color: #0c56b7;
   box-shadow: 0px 10px 40px 5px #dadce0;
}




.onetwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.free{
    margin-right: 120px;
}
.easy{
   margin-right: 120px;
}
.freeone{
   display: flex;
   justify-content: center;
}
.freebutton{
   height:50px ;
   width:50px ;
   background-color:#1a73e8 ;
   border: solid 1px #1a73e8;
   border-radius: 40px;
}
.freeicon{
   color: #fff;
   font-size: 25px;
}
.onetwo h3{
   font-family: 'Noto Sans Display', sans-serif;
   font-weight: 500;
}
.onetwo p{
    color:#5e6267;
    font-family: 'Noto Sans Display', sans-serif;
    margin-top: -1px;
}
.freetwo{
    display: flex;
    justify-content: center;
}
.easytwo{
    display: flex;
    justify-content: center;
}
.easythree{
    text-align: center;
}
.persontwo{
    display: flex;
    justify-content: center;
}
.easybutton{
   background-color:#fbbc04 ;
   border: solid 1px #fbbc04  ;
}
.personabutton{
   background-color: #34a853;
   border: solid 1px #34a853;
}


.onethree{
   margin-bottom:40px ;
}
.onethree h3{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 35px;
   font-weight:400 ;
}
.onethree p{
   color:#5e6267;
   font-family: 'Noto Sans Display', sans-serif;
   margin-top: -20px;
   font-size: 16px;
}
.onethreepicture{
    display: flex;
    justify-content: center;
}
#onethreepicture{
   height: 140px;
   margin-bottom: 30px;
}
.takecharge{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.onefour{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}
.onefour h4{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 20px;
   font-weight:500 ;
}
.onefour p{
   color:#5e6267;
    font-family: 'Noto Sans Display', sans-serif;
}


.essentialone p{
    color: #5e6267;  
}
.essential{
    margin-right: 400px;
    margin-top: 140px;
    margin-bottom: 30px;
}
.essential div{
   margin-bottom: 60px;
}
.qessential{
   display: flex;
   flex-direction: row;
}
.essentiallineone{
   border-left: 3px solid #1967d2;
   height: 115px;
   margin-right: 10px;
   margin-top: 30px;
}
.essentialtwoline{
   border-left: 3px solid #c4c3c3;
   margin-right: 10px;
   height: 40px;
   margin-top: 20px;  
}
.essentialtop{
   margin-top: -130px;
}
.essentialthree{
   margin-top: -97px;
}








#floatingpic{
    height: 600px;
}
.managebutton{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}


.connect h3{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 35px;
   font-weight:400 ;
}
.connect p{
   color:#5e6267;
   font-family: 'Noto Sans Display', sans-serif;
   margin-top:-20px ;
}
.connect{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.onesix{
    display: flex;
    justify-content: center;
}
.onesix h4{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 20px;
   font-weight:500 ;
}
.onesix p{
   color:#5e6267;
   font-family: 'Noto Sans Display', sans-serif;
   font-weight: 300;
}
.picthree{
    margin-right: 120px;
}
#picthree{
    height: 600px;
    margin-top: 40px ;

}


.postflex{
   display: flex;
   flex-direction: row;
}
.postlines{
   border-left: 3px solid #c4c3c3;
   margin-right: 10px;
   height: 40px;
   margin-top: 20px;  
}
.posttwoline{
   border-left: 3px solid #1967d2;
   margin-right: 10px;
   height: 100px;
   margin-top: 25px;  
}




.createposts{
    margin-top: 150px;
}
.oneseven{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
#oneseven{
   height: 130px;
}



  /* the second square element  */


 .two{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    background-color: #f8f9fa;
 }
 .two h4{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 20px;
   font-weight:500 ;
 }
 .two h3{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 35px;
   font-weight:400 ;
 }
 .two p{
   color:#5e6267;
   font-family: 'Noto Sans Display', sans-serif;
   font-weight: 300;
 }
 #slideOne{
    height: 460px;
 }
 .showyou{
    margin-right: 180px;
    margin-top: 130px;
 }
 
 .picsfortwo{
    margin-top: 150px;
 }
 .slides{
    margin-bottom: 100px;
 }
 .picsfortwo a{
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
    color: #1967d2;
 }
 .arrowbutton{
   height:22px ;
   width: 22px;
   border: solid 1px #1967d2; ;
   background-color: #1967d2; ;
   border-radius:20px ;
   padding: 2px;
   padding-bottom: 4px;
 }
 .arrowicon{
   color:#fff ;
   font-size:10px ;
 }
 .slidethree{
   margin-bottom: 200px;
 }




 /* The third square element  */

 .three h3{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 37px;
   font-weight:400 ;
 }
 .three p{
    color: #5e6267;
    font-family: 'Noto Sans Display', sans-serif;
 }
 .threeone{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 150px;
 }
 .perfomancepic{
    margin-right: 300px;
 }
 #threeone{
    height: 660px;
    margin-top: 70px;
 }
.knowcustomers{
    margin-top: 200px;
}



 .picanimation{
    display: flex;
    justify-content: center;
 }
 #threetwo{
    height: 250px;
 }
 .threetwo{
  margin-top: 270px;
 }
 .showbest{
    display: flex;
    flex-direction: column;
    align-items: center;
 }




 .threetwo h2{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 47px;
   font-weight:400 ;
 }
 .threetwo p{
   margin-top: -30px;
 }


 .threethree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
 }
 .threethreediv{
    margin-right:140px;
 }
 .managenowbutton{
    display: flex;
    justify-content: center;
 }
 #dotpic{
   height: 130px;
 }



 .dotpic{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 60px;
 }
 .answeredquestions{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }
 .answeredquestions h2{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 36px;
   font-weight:400 ;
   margin-bottom: 40px;
 }




 .threefive{
   display: grid;
   justify-content: center;
 }
 .threefive div{
  /* margin-bottom: 60px; */
  padding-top: 13px;
  padding-bottom: 13px;
 }

 .threefive h4{
    color: #1967d2;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
 }
 .threefive a{
    color: #1967d2;
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
 }
 .questionfour{
    display: flex;
    justify-content: center;
 }


 
 .questiononediv{
   display: flex;
   justify-content: space-between;

 }
 .iconcomponent{
  
 }
 .iconarrow{
   color:#1967d2;
   font-size: 19px;
   cursor: pointer;
 }
 .iconarrowopp{
   display: none;
   color:#1967d2;
   font-size: 19px;
 }
 .secondicon{
   margin-left: 350px;
 }
 #tohidepone{
   display: none;
   margin-top: -30px;
 }
 #tohideptwo{
   display: none;
   margin-top: -30px;
 }
 #tohidepthree{
   display: none;
   margin-top: -30px;
 }
#arrowbuttonone{
   background-color: #fff;
   border: 1px solid #fff;
   height: 40px;
   width: 30px;
}
#arrowbuttontwo{
   background-color: #fff;
   border: 1px solid #fff;
   height: 40px;
   width: 30px;
}
#arrowbuttonthree{
   background-color: #fff;
   border: 1px solid #fff;
   height: 40px;
   width: 30px;
}


.linesz{
   border-top:  1px solid #dadce0;
   border-bottom: 1px solid #dadce0;
   margin-top: -1px;
}
.diag-a{
   font-size: large;
}




 /* the lines underneath  */

 .qlines{
   border-bottom: 1px solid #dadce0;
   margin-top: -250px;
 }
 



 .faq{
    height: 50px ;
    width: 150px ;
    background-color: #fff ;
    color:#1a73e8 ;
    font-weight: 600;
    font-size: 16px;
    border: solid 1px #1a73e8 ;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 140px;
 }



 /* the footer element  */
 .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding-bottom: 40px;
 }
 .footer a{
    color:#5f6368 ;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Noto Sans Display', sans-
 }
 .followus{
   display: flex;
   font-size: 14px;
   margin-left: -1020px;
   margin-bottom: 20px;
 }
 .followusicons{
   margin-top: 27px;
   
 }
 .followus p{
   font-family: 'Noto Sans Display', sans-serif;
   font-size: 17px;
   margin-top: 28px;
 }
 .soshomedia{
   font-size: 25px;
   margin-left: 30px;
 }
 .footerunderlinediv{
   border-bottom: 1px solid #dadce0;
 }


 .links{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 40px;
 }
 .links div{
   margin-bottom: 25px;
 }
 .linksdiv{
    margin-right: 110px;
 }

 .lineone{
  margin-bottom: 30px;
 }

 .linetwo{
   margin-bottom: 20px;
 }
 .linksline{
   border-bottom: 1px solid #dadce0;
   width: 100%;
 }
 .blacklinks a{
   color: black;
 }



 #footergoogle{
   margin-right: 40px;
 }
 .copyright{
    display: flex;
    margin-top: 20px;
 }
 .copyright div{
   margin-right:40px ;
   margin-top: 10px;
 }
 .help{
   margin-left: 200px;
 }
 #footerselect{
   background-color: #f8f9fa ;
   width: 400px;
   border: 1px solid #f8f9fa ;
   font-family: 'Noto Sans Display', sans-serif;
 }






/* 
 @media only screen and (max-width:380px){

  .ptwodivs img{
   height: 200px ;
  }
  .pphotothree img{
   height: 200px;
  }
  .panimationthree img{
   height: 20px;
  }
  .pphotoone img{
   box-shadow: 10px 400px 165px rgb(210, 210, 211);
  }
} */

 @media only screen and (max-width:1020px){

   .container{
      display: none;
   }
   .phone-container{
      display: block;
   }
   p{
      font-family: 'Noto Sans Display', sans-serif;
   }
   h2{
      font-family: 'Noto Sans Display', sans-serif;
   }
   h3{
      font-family: 'Noto Sans Display', sans-serif;
   }

   body{
      margin: 0;
     padding:0;
     box-sizing: border-box;
   }
   

   /* the button icon part when pressed  */


   .other-components div{
      margin-bottom: 30px;
      padding-left: 15px;
   }
   .other-components p{
      font-size: 14px;
      color: #5f6368;
   }
   .first-square{
      margin-top: 70px;
   }
   .resret{
      margin-left: 20px;
   }
   .pbuttonicon{
      display: none;
      height: 100vh;
      width: 80%;
      border: 1px solid #fff;
      position: absolute;
      background-color: #fff;
      box-shadow: 100px 0px 10px rgb(221, 221, 221);
   }
   .ptop2{
      box-shadow: 0px 0px 0px black;
   }
   .pbottomicon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: sticky;
      margin-top: 120px;
      margin-left: -20px;
   }
   .s-i-button{
      height:40px ;
      width:90px ;
      color: #1a73e8;
      background-color:white ;
      border: 1px solid white;
      font-size: 17px;
      font-weight: 500;
      font-family: 'Noto Sans Display', sans-serif;
      margin-top: -20px;
   }


   /* the top part  */
   #plogo{
      height:36px;
      margin-top: 14px;
      margin-left: 20px;
      margin-bottom: 10px;
   }
   .profiletext h2{
      margin-left: 25px;
      font-size:23px ;
      font-weight: 400;
      margin-top: -1px;
      color: #5f6368;
      cursor:pointer ;
   }
   .ptopline{
      border-bottom: 1px solid #dadce0;
      margin-bottom: 10px;
   }
   .ptop{
      padding-bottom: 1px;
      box-shadow: 10px 4px 15px rgb(210, 210, 211);
   }
   .pprofile{
      display: flex;
   }
   .profileicon{
      margin-top: 6px;
      margin-left: 30px;
   }
   .barsicon{
      font-size: 19px;
      font-weight: 100;
      color: #5f6368;
   }




   /* the first square element  */

 
   .pstandout h2{
      text-align: center;
      font-size: 26px;
      font-weight: 400;
      margin-top: 30px;
   }
   #Pphotoone{
      height: 430px;
      margin-bottom: 15px;
      border-radius: 15px;
      box-shadow: 10px 1px 40px 10px #dadce0;
   }
   .pphotoone{
      display: flex;
      justify-content: center;
   }
   .pcaptionone{
      font-size: 16px;
      text-align: center;
      color:#5e6166 ;
   }
   .pbuttonmanage{
      height: 50px ;
      width: 150px ;
      background-color: #1a73e8 ;
      color:#fff ;
      font-weight:500;
      border: solid 1px #1a73e8 ;
      border-radius: 3px;
      font-family: 'Noto Sans Display', sans-serif;
      font-size: 15px;
      margin-top: 20px;
  }
   .pbuttonone{
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
   }




   .freeeasy h3{
      font-size: 15px;
      font-weight:500 ;
      color:#202124 ;
      margin-top: 30px;
   }
   .freeeasy p{
      color: #5f6368;
      margin-top: 1px;
   }
   .freeeasy{
      margin-top: 30px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
   }
   .panimationone{
      display: flex;
      justify-content: center;
   }




   .ptakecharge h3{
      text-align: center;
      font-size: 24px;
      font-weight:400 ;
   }
   .ptakecharge p{
      color: #5f6368;
      text-align: center;
      
   }
   #pphotoonetwo{
      height: 440px;
      margin-bottom: 30px;
   }
   .pphotoonetwo{
      display: flex;
      justify-content: center;
   }
   .pessentialone{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .pessentialone h3{
       font-size: 19px;
       font-weight: 500;
   }
   .pessentialone p{
      font-weight: 400 ;
      color: #5f6368;
      margin-bottom: 150px;
   }
   .pmanagebutton{
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
   }




   .peasilyconnect{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .mostparagraphs h3{
      font-size: 24px;
      font-weight: 400;
   }
   .mostparagraphs p{
      color: #5f6368;
   }
   .mostparagraphs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }



   #pphotoonethree{
      height: 440px;
   }
   .pphotoonethree{
      display: flex;
      justify-content: center;
   }
   .pdirectmessagesone h3{
      font-size: 18px;
      font-weight: 400 ;
   } 
   .pdirectmessagesone{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .pphotoonefour{
      display: flex;
      justify-content: center;
      margin-top:150px ;
      margin-bottom: 30px;
   }


   /* the second square element  */

   .ptwo{
      background-color: #f8f9fa;
      padding-top: 50px;
   }
   .ptwodivs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .ptwodivs p{
      margin-top: -10px;
      color: #5f6368;
      font-weight: 400;
   }
   .pbuttontwo{
      margin-top: 20px;
      margin-bottom: 35px;
   }
   .ptwodivs h3{
      font-size: 17px;
      font-weight:500 ;
   }
   .ptwodivs a{
      color: #1967d2;
      text-decoration: none;
      font-family: 'Noto Sans Display', sans-serif;
      font-weight: 500;
      margin-bottom: 60px;
   }


   /* the third square element  */


   .panimationthree{
      margin-top: 150px;
   }
   .claimpp h3{
      font-size: 19px;
      font-weight: 500;
   }
   .pbuttonthree{
      margin-bottom: 25px;
   }
   .pquestionsthree{
      margin-bottom: 30px;
   }
   .questionblue p{
      display: none;
   }
   .questionblue h3{
      font-size: 15px;
      color: #1967d2;
   }
   .questionblue{
      margin-bottom: 20px;
   }
   .pFAQs{
      height: 47px ;
      width: 150px ;
      background-color: #fff ;
      color:#1a73e8 ;
      font-weight: 600;
      font-size: 16px;
      border: solid 1px #1a73e8 ;
      border-radius: 6px;
      margin-top: 10px;
      margin-bottom: 100px;
   }
   .plineone{
      border-bottom: 1px solid #c4c3c3;
      margin-top: 40px;
      margin-bottom: 40px;
   }



   /* the footer element  */
   .pfollow{
      margin-bottom: 40px;
      margin-left: 10px;
      display: flex;
   }
   .pfooter{
      background-color: #f8f9fa;
      padding-top: 20px;
   }
   .pfollowusicons{
      display: flex;
      margin-top: 13px;

   }
   .footerdiv h3{
      color: #5f6368;
      margin-left: 10px;
      font-weight: 500;
      font-size: 17px;
   }
   .footerdiv a{
      text-decoration: none;
      color: #5f6368;
      font-weight: 400;
      font-size: 19px;
      margin-left: 10px;
   }
   .ponehide{
      margin-top: 40px;
   }
   .ponehide div{
      margin-bottom: 20px;
   }
   .ponehide{
      display: none;
   }
   .poneshow{
      margin-bottom: 60px;
   }
   .pfooterlogo{
      margin-left: 10px;
   }
   .pfooterelements{
      display: flex;
      margin-left: 10px;
   }
   .pfooterelements p{
      color: #5f6368;
   }
   .pfooterhelp{
      display: flex;
      margin-left: 10px;
   }
   .helptext{
      margin-left: 20px;
      margin-top: -20px;
   }
   .plineoneq{
      border-bottom: 1px solid #c4c3c3;
      margin-top: 5px;
      margin-bottom: 20px;
   }


   .floorstickyelement{
      display: flex;
      padding-top: 0px;
      padding-bottom: 5px;
      position: sticky;
      bottom: 0px;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 3px 10px rgb(105, 110, 127);
   }
   .stickybutton{
      margin-top: -10px;
   }
   .pfooterselect select{
      margin-bottom: 30px;
   }
   #pfooterselect{
      background-color: #f8f9fa ;
      width: 100%;
      border: 1px solid #f8f9fa ;
      font-family: 'Noto Sans Display', sans-serif;
   }
   

   }


   @media only screen and (max-width:1100px){

      .standout{
         margin-right: 200px;
      }

   }
   @media only screen and (max-width:1300px){

      .standout{
         margin-right: 300px;
      }

   }
   
   @media only screen and (max-width:1500px){

      .standout{
         margin-right: 400px;
      }

   }
   @media only screen and (max-width:1500px){

      .standout{
         margin-right: 400px;
      }

   }




 